/* Typefaces */

@font-face {
  font-family: Book;
  src: url(../font/GothamRnd-Book.otf);
}

@font-face {
  font-family: BookItalic;
  src: url(../font/GothamRnd-BookItal.otf);
}

@font-face {
  font-family: Medium;
  src: url(../font/GothamRnd-Medium.otf);
}

.bi,
em {
  font-family: BookItalic;
  font-style: normal ;
}

strong,
.me {font-family: Medium;}


/* Colors and buttons */

.blue-1 {color: #45979b;}
.blue-2 {color: #68c2be;}
.blue-4 {color: #c7e8eb;}
.green-1 {color: #328942;}
.green-2 {color: #44aa4c;}
.green-3 {color: #75c26e;}
.white {color: #fff;}
.yellow-1 {color: #faa21b;}
.yellow-4 {color: #fee35c;}
.yellow-5 {color: #ffeb99;}

a.blue-1,
a.yellow-4 {text-decoration: underline;}
a.blue-1:hover {color: #328942;}
a.yellow-4:hover {color: #fed900;}

.button {
  background: #faa21b;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
  padding: 4px 6px 2px;
  text-transform: uppercase;
}

.ne {
  background: url(../svg/icon-ne.svg) no-repeat left top;
  padding: 0 0 0 30px;
}

/* Backgrounds */

.bg-blue-1 {background: #45979b;}
.bg-blue-2 {background: #68c2be;}
.bg-blue-4 {background: #c7e8eb;}
.bg-green-3 {background: #75c26e;}
.bg-green-4 {background: #97ce89;}
.bg-yellow-4 {background: #fee35c;}
.bg-white {background: #fff;}

.swatch-blue,
.swatch-green,
.swatch-yellow {
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 30px;
}

.swatch-blue {
  background: #45979b url(../svg/swatch-blue.svg) no-repeat 0 100%;
}

.swatch-green {
  background: #328942 url(../svg/swatch-green.svg) no-repeat 0 100%;
}

.swatch-yellow {
  background: #faa21b url(../svg/swatch-yellow.svg) no-repeat 0 100%;
}

#footer,
#header {background: #fff;}

/* Tags */

html,
body,
h1,
h2,
h6,
input,
p,
textarea {
	font-family: 'Book', Helvetica, sans-serif;
}

body {font-size: 16px;}
.plus {font-size: 18px;}

a {color: #fff;}
a:hover {color: #fff;}

h1 {
	font-size: 45px;
	margin: 40px auto 0;
}

h2 {font-size: 36px;}
h3 {font-size: 24px;}

h4 {
  font-family: Medium;
  font-size: 18px;
}

h5 {font-size: 14px;}

/* Helpers */

.mt10 {margin: 10px 0 0;}
.p20 {padding: 20px;}
.p1020 {padding: 10px 0 20px;}
.p4020 {padding: 40px 20px;}
.pb0 {padding-bottom: 0;}
.pb20 {padding: 0 0 20px;}
.pb30 {padding: 0 0 30px;}
.ph20 {padding: 0 20px;}
.pl10 {padding: 0 0 0 10px;}
.pr10 {padding: 0 10px 0 0;}
.pr20 {padding: 0 20px 0 0;}
.pt10 {padding: 10px 0 0;}
.pt20 {padding: 20px 0 0;}
.pt40 {padding-top: 40px;}
.pv0 {padding: 0 20px;}
.pv10 {padding: 10px 0;}
.pv20 {padding: 20px 0;}
.img-fluid {width: 100%;}
.media img {
  max-height: 50%;
  max-width: 50%;
}

/* Nav */

.nav-link {
  color: #45979b;
}

.nav-link:hover {
  color: #97ce89;
  text-decoration: underline;
  transition: color .5s ease;
}

.active .nav-link {
  color: #faa21b;
}

.navbar-toggler-icon {
  border: 1px solid #9dD9de;
  padding: 3px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  p {font-size: 17px;}
  .plus {font-size: 18px;}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
  h1 {font-size: 48px;}
  h2 {font-size: 40px;}
  p {font-size: 18px;}
  .plus {font-size: 20px;}
  .p20 {padding: 30px 20px;}

}